[Unit]
Description=Solr service
ConditionPathExists={{ solr_dest_path }}
After=syslog.target network.target
Before=multi-user.target
Conflicts=shutdown.target

[Service]
User={{ solr_user.name }}
Group={{ solr_group }}
PIDFile={{ solr_home_path }}/solr-{{ solr_port }}.pid
Environment="{{ java_home }}"
ExecStart={{ solr_dest_path }}/bin/solr start
ExecStop={{ solr_dest_path }}/bin/solr stop

TimeoutSec=300
StartLimitInterval=30
StartLimitBurst=15
Restart={{ solr_service_restart }}

[Install]
WantedBy=multi-user.target
